/*For Carouselle*/
.Carouselles{
    position: absolute;
    margin-top: 114px;
    width: 100%;
    height: 500px;
}

.Carouselles img {
    width: 100%;
    height: auto;
    opacity: 70%;
}

/*MenuArea Code*/

.CustomCard{
    border:none !important;
    width: 100%;
    height: 300px;
}

.customButton{
    margin-top: 60px;
    background-color:red;
    color: white;
}
/* Choraire css*/
.footer-container {
    display: flex;
    justify-content: space-around;
    position: relative; /* Pozisyon ayarı */
    padding: 20px;
    color: rgb(0, 0, 0);
}

/* Yeni arka plan resmi div'i için stil */
.background-image {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: url('../image/FooterRestaurant.jpg');
    opacity: 0.5;
    background-size: cover; /* veya istediğin boyut */
    background-repeat: no-repeat;
    z-index: -1; /* İçeriklerin önünde olmaması için */
}

.footer-content {
    z-index: 2; /* Arka planın önünde olmasını sağlar */
    display: flex;
    justify-content: space-around;
    width: 100%;
}

.footer-contact, .footer-hours {
    width: 50%;
}